html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #484848;
    line-height: 1.28;
}
body {
    background-color: #FBFEFA;
}
header {
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
header h1 span {
    font-size: 12px;
    font-weight: 500;
}
.body {
    color: #666;
}
.example {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.div-ocean {
    width: 150px;
    height: 50px;
    background: #3B3738;
    color: #fff;
}