html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #484848;
    line-height: 1.28;
}
body {
    background-color: #FBFEFA;
}
header {
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
header h1 span {
    font-size: 12px;
    font-weight: 500;
}
.body {
    color: #666;
}
.example {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    display: block;
}
.div-black {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    width: 150px;
    height: 50px;
    background: #3B3738;
    margin-bottom: 10px;
}
.div-green {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    width: 150px;
    height: 50px;
    background: #34A83B;
    margin-bottom: 10px;
}
.div-blue {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    width: 0px;
    height: 50px;
    background: #78b6c7;
    margin-bottom: 10px;
}